<div class="account">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="page-heading">
                    <h5>Accounts</h5>
                </div>

                <table class="table">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Email</th>
                      <th>Contact</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Muhammad</td>
                      <td>Arslan</td>
                      <td>arslan@gmail.com</td>                       
                      <td>030024769991</td>
                      <td>
                        <a class="far fa-edit mr-4 text-success"></a>
                        <a class="fas fa-trash-alt text-danger"></a>
                      </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Sufiyan</td>
                      <td>Ahmed</td>
                      <td>sufiyan@gmail.com</td>                       
                      <td>0336571117654</td>
                      <td>
                        <a class="far fa-edit mr-4 text-success"></a>
                        <a class="fas fa-trash-alt text-danger"></a>
                      </td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Usama</td>
                      <td>Shaikh</td>
                      <td>usama@gmail.com</td>                       
                      <td>031775498002</td>
                      <td>
                        <a class="far fa-edit mr-4 text-success"></a>
                        <a class="fas fa-trash-alt text-danger"></a>
                      </td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>Muhammad</td>
                      <td>Ahmed</td>
                      <td>ahmed@gmail.com</td>                       
                      <td>0333776599872</td>
                      <td>
                        <a class="far fa-edit mr-4 text-success"></a>
                        <a class="fas fa-trash-alt text-danger"></a>
                      </td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>Arslan</td>
                      <td>Rajput</td>
                      <td>arslan@gmail.com</td>                       
                      <td>0300775610945</td>
                      <td>
                        <a class="far fa-edit mr-4 text-success"></a>
                        <a class="fas fa-trash-alt text-danger"></a>
                      </td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td>Muhammad</td>
                      <td>Yaseen</td>
                      <td>yaseen@gmail.com</td>                       
                      <td>0300786566653</td>
                      <td>
                        <a class="far fa-edit mr-4 text-success"></a>
                        <a class="fas fa-trash-alt text-danger"></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

        </div>
    </div>
</div>
