<div class="footer">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-5 col-lg-5">
                <div class="first">
                    <h3>Angular API</h3>

                    <div class="c-btn mt-4">
                        <a class="press pink" routerLink="/dashboard">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 col-lg-4">
                <div class="first">
                    <h3>HOME</h3>   
                    <ul>
                        <li><a routerLink="accounts">Accounts</a></li>
                        <li><a routerLink="/users">Users</a></li>
                        <li><a routerLink="expense">Expense</a></li>
                        <li><a routerLink="reports">Reports</a></li>
                        <li><a routerLink="/contact">Contact Us</a></li>
                    </ul>
                </div>
            </div> 

            <div class="col-12 col-md-3 col-lg-3">
                <div class="first">
                    <h3>STAY CONNECTED</h3>
                    <div class="social">
                        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.messenger.com/"><i class="fa-brands fa-facebook-messenger"></i></a>
                        <a href="https://wa.me/+923310337182"><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="footer-bottom">
    <p>Copyright © 2022, Muhammad Idrees.</p>
</div>
