// @import '../../../styles.scss';

// .footer{
//     background-image: url(../../../assets/img/slider2.jpg);
//     padding: 30px 0;
//     background-size: cover;
//     background-position: center;
//     background-blend-mode: soft-light;
//     background-color: #242424;
//     background-attachment: fixed;
//     @include respond(mobile){
//         padding: 10px 0 30px 0;
//     }
//     .first{
//         @include respond(mobile){
//             padding-top: 30px;
//         }
//         h3{
//             font-size: 17px;
//             color: $white;
//             font-weight: bold;
//             cursor: pointer;
//             @include respond(tablet){
//                 font-size: 15px;
//             }
//         }
//         .c-btn{
//             font-size: 13px;
//         }
//         ul{
//             list-style: none;
//             padding-left: 0;
//             li{
//                 padding-top: 5px;
//             }
//             a{
//                 font-size: 14px;
//                 color: $white;
//                 @include respond(tablet){
//                     font-weight: 500;
//                 }
//                 &:hover{
//                     transition: 0.5s;
//                     opacity: 0.5s;
//                     color: $pink;
//                 }
//             }
//         }
//         .social{
//             margin-top: 15px;
//             a{
//                 border: 1px solid $pink;
//                 background: $default;
//                 border-radius: 30px;
//                 padding: 9px 8px 7px 8px;
//                 margin-right: 10px;
//                 @include respond(tablet){
//                     padding: 6px;
//                     margin-right: 5px;
//                 }
//                 i{
//                     font-size: 19px;
//                     color: $white;
//                     @include respond(tablet){
//                         font-size: 18px;
//                     }
//                     &:hover{
//                         transition: 0.5s;
//                         opacity: 0.5s;
//                         color: $pink
//                     }
//                 }
//             }
//         }
//     }
// }

// .footer-bottom{
//     background-color: $black;
//     padding: 10px 0;
//     p{
//         font-size: 12px;
//         color: $white;
//         font-weight: 500;
//         text-align: center;
//         @include respond(mobile){
//             font-size: 12px;
//         }
//     }
// }