<div class="account">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-10">
                <div class="page-heading">
                    <h5>Account</h5>
                </div>

                <div class="account-inner">
                    <form class="form-row">
                        <div class="form-group col-12 col-md-6">
                            <label>First Name</label>
                            <input type="text" class="form-control" placeholder="First Name" >
                        </div>

                        <div class="form-group col-12 col-md-6">
                            <label>Last Name</label>
                            <input type="text" class="form-control" placeholder="Last Name" >
                        </div>

                        <div class="form-group col-12 col-md-6">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="Email" >
                        </div>
        
                        <div class="form-group col-12 col-md-6">
                            <label>Contact</label>
                            <input type="number" class="form-control" placeholder="Contact" >
                        </div>
                        
        
                        <div class="c-btn">
                            <a class="press pink" routerLink="">Add</a>
                            <a class="press pink" routerLink="">Edit</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
