<div class="users-listing">
    <div class="container-fluid">
        <div class="row">

            <div class="col-3" *ngFor="let item of listing.data">
                <div class="card">
                    <img class="card-img-top" src="{{item.avatar}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{item.first_name}} {{item.last_name}}</h5>
                        <p class="card-text">{{item.email}}</p>

                        <div class="c-btn mt-3">
                            <a class="press green mr-1" (click)="viewUser(item.id)">See Details</a>
                            <a class="press pink" (click)="deleteUser(item.id)">Delete</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>