<div class="expense">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="page-heading">
                    <h5>Expenses</h5>
                </div>

                <table class="table">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Accounts</th>
                      <th>Expense Title</th>
                      <th>Date</th>
                      <th>Expense Type</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Iqbal Shaikh</td>
                      <td>Abu</td>
                      <td>10-Jan-2022</td>                       
                      <td>Debit</td>
                      <td>
                        <a class="far fa-edit mr-4 text-success"></a>
                        <a class="fas fa-trash-alt text-danger"></a>
                      </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Sumira Appartment</td>
                      <td>Instalment</td>
                      <td>14-April-2022</td>                       
                      <td>Credit</td>
                      <td>
                        <a class="far fa-edit mr-4 text-success"></a>
                        <a class="fas fa-trash-alt text-danger"></a>
                      </td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Api Salma</td>
                      <td>VC-Cameti</td>
                      <td>23-Feb-2022</td>                       
                      <td>Credit</td>
                      <td>
                        <a class="far fa-edit mr-4 text-success"></a>
                        <a class="fas fa-trash-alt text-danger"></a>
                      </td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>Bank Al Habib</td>
                      <td>Car Instalment</td>
                      <td>10-March-2022</td>                       
                      <td>Debit</td>
                      <td>
                        <a class="far fa-edit mr-4 text-success"></a>
                        <a class="fas fa-trash-alt text-danger"></a>
                      </td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>Ilyas</td>
                      <td>Saving Account</td>
                      <td>16-April-2022</td>                       
                      <td>Credit</td>
                      <td>
                        <a class="far fa-edit mr-4 text-success"></a>
                        <a class="fas fa-trash-alt text-danger"></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

        </div>
    </div>
</div>

